@use '../../scss/' as *;

.input {
    position: relative;

    input {
        border: 1px solid $primary-color;
        outline: none;
        width: 486px;
        height: 70px;
        padding: 25px 153px 25px 25px;
        font-family: $font-family;
        border-radius: 3px;
        position: relative;
    }

    button {
        width: 153px;
        height: 70px;
        background-color: $primary-color;
        color: #fff;
        border: 1px solid #011C42;
        position: absolute;
        right: 0;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: $secondary-color;
            border: 0;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
    }
}