$white: #fff;
$txt-color: #0f0f0f;
$primary-color: #054C73;
$secondary-color: #38a1da;
$font-color: #333333;
$font-color1: #666666;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;

$font-family: "Montserrat", sans-serif;